#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Obsidian
Exec=/home/shadowflade/Desktop/apps/Obsidian-1.6.7.AppImage
Icon=obsidian
Type=Application
Terminal=false
Categories=Utility;
MimeType=x-scheme-handler/obsidian;
